@media (max-width: 1124px) {

    .header_menu{
        display: block;
    }

    .visible{
        display: none;
    }
}


@media only screen and (min-width : 768px) and (max-width : 1124px) {
    html{
        font-size: 7px;
    }
    
    .info-tittle{
        font-size: 30px;
    }

    .header__search, .header__input{
        width: 297px;
    }
    
    .breadcrumb__link{
        font-size: 13px;
    }

    .slider-container, .slider__plan{
        height: 340px;
    }

    .info-row-panel{
        justify-content: flex-end;
    }

    .info-row-panel{
        position: relative;
    }
    .info-text {
        position: absolute;
        margin: auto ;
        left: 0;
    }
    .info__list {
        margin-right: 12px;  
    }
    .info__list:last-child{
        margin-right: 0;
    }
     
    .content__row{
        margin-top: 16px;
    }

    .content-card{
        width: 50%;
        height: 211px;
    }

    .content-card__img {
        height: 114px;
    }

    .content-card__tittle {
        height: 57px;
        font-size: 16px;
        line-height: 19px;  
    }
    .content-card__price{
        font-size: 16px;
    }

}

@media only screen and (max-width : 768px) {
    html{
        font-size: 5px;
    }

    .visible-wide{
        display: none;
    }

    .container{
        padding: 0 20px;
    }

    .content{
        border: none;
    }
    .content-block__container{
        display: none;
    }

    .header_menu{
        display: block;
        margin-right: 20px;
        width: 21px;
        height: 19px;
    }
    
    .menu__img{
        width: 100%;
        height: 100%;    
        object-fit: cover;
    }

    .header__logo{
        width: 53px;
        height: 37px;
    }

    .logo__img{
        width: 100%;
        height: 100%;    
        object-fit: cover;
    }

    .header__search{
        display: none;
    }

    .m-header__icons{
        display: block;
    }

    .info-tittle{
        margin-bottom: 8px;
    }
    .slider-container, .slider__plan{
        height: 243px;
    }

    .prev{
        top: 40%;
        left: 0;
    }
    .next{
        top: 40%;
        right: 0;
    }

    .info-row-panel{
        height: auto;
    }

    .info-text {
        margin-top: 12px;
        margin-bottom: 6px;
    }

    .info__list{
        display: none;
    }


    .change__button{
        display: block;
    }
    
    .change__button-list{
        display: none;
    }

    .content-block{
        padding: 0;
    }

    .content__row{
        margin-top: 14px;
    }
    .content-card{
        width: 50%;
        height: 169px;
        margin-bottom: 17px;
    }
    
    .content-card__img {
        height: 88px;
    }

    .content-card__tittle {
        height: 48px;
        font-size: 14px;
        line-height: 16px;
    }
    .content-card__price{
        font-size: 12px;
    }

    .content-block{
        margin-left: 20px;
        width: 100%;
        /* display: none; */
    }
    .content-map{
        width: 100%;
        display: none;
    }


}
