/* 
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Actor', sans-serif;
 */


* {
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
}

.header {
    width: 100%;
    color: #FFFFFF;
    background: #0084BA;
}

.header-row {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0084BA; 
}

.header__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    width: 400px;
    height: 55px;
    position: relative;
    margin-left: 67px;
    margin-right: 21px;
}

.header__input {
    width: 400px;
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-left: 47px;
    color: #000000;
}

.header__search::after{
    content: '';
    position: absolute;
    left: 19px;
    top: 19px;
    width: 19px;
    height: 23px;
    background-image: url('../assets/img/icons/search.svg');
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
}

.header__list{
    position: relative;
}

.header__list-sity {
    width: 79px;
    height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: none;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.header__list::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 12px;
    right: 0;
    bottom: 0;
    background-image: url('../assets/img/icons/down.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.header__list-sity:focus{
    border-color: none;
}

.header__icons {
    display: flex;
}

.header__link {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px ;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px; 
    display: flex;
    align-items: center;
}
.header__link:hover{
    color: rgb(207, 207, 207);
}
.header__link-img{
    margin-right: 4px;
}

.header__link--login{
    margin-right: 0;
}

.header__link-line{
    margin: 5px;
    pointer-events: none;
}

.header__link:last-child{
    margin-right: 0;
}

/* nav */
.header-nav-row {
    height: 40px;
    background: #0098D7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 24px;
    text-align: center;
}

.header__nav-link{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 80px;
}

.header__nav-link:hover{
    color: rgb(207, 207, 207);
}

.header__nav-link:last-child{
    margin-right: 0;
}

/* info */
.breadcrumb{
    margin: 8px 0;
}

.breadcrumb__list {
    padding: 0;
}
.breadcrumb__item {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.breadcrumb__item::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 22px;
    right: 0;
    bottom: 0;
    background-image: url('../assets/img/icons/arrow_right-red.svg');
    background-repeat: no-repeat;
}

.breadcrumb__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #1C2E36;
}

.info-tittle {
    font-family: 'Actor', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 44px;
    color: #1C2E36;
    margin-bottom: 25px;
}

.slider-container{
    width: 100%;
    height: 416px;
    position: relative;
}

.slider__plan{
    width: 100%;
    height: 416px;
}

.slider__img{
    width: 100%;
    height: 100%;    
    object-fit: cover;
    object-position: center;
}
.prev, .next{
    width: 50px;
    height: 50px;
    top: 50%;
    background: #E26D5A;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.prev{
    left: 50px;
}
.next{
    right: 50px;
}
.prev:hover, .next:hover{
    background: rgb(182, 45, 24);
}
.info-row-panel{
    height: 87px;
    display: flex;
    align-items: center;
}

.info-text {
    width: 113px;
    height: 46px;
    font-family: 'Actor', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    color: #1C2E36;
    margin-right: 38px;
}
.info__list {
    position: relative;
}

.info__list-one{
    margin-right: 119px;
}
.info__list-two{
    margin-right: 16px;
}

.info__item {
    width: 127px;
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    -webkit-appearance: none;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px;
}

.info__item-two{
    width: 160px;     
}

.info__item-three{
    width: 104px; 
}

.info__list::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 14px;
    right: 7px;
    bottom: 17px;
    background-image: url('../assets/img/icons/down-2.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

/* content */
.content{
    width: 100%;
    border-top: 1px solid #E2E2E2;
    display: flex;
}

.content-block {
    width: 50%;
    padding-top: 19px;
    margin-left: 30px;
    margin-right: 20px;
}

.container-wide {
    max-width: 673px;
    margin-left: auto;
}

.content-block__container {
    display: flex;
    justify-content: space-between;
}
.content-block__results {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #1C2E36;
}
.content-block__list {
    position: relative;
}
.content-block__list-sort {
    width: 45px;
    height: 18px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #1C2E36;
    background: none;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.content-block__list::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 12px;
    right: 0;
    bottom: 0;
    background-image: url('../assets/img/icons/down-3.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.content__row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.content-card {
    width: 33.33333%;
    height: 245px;
    padding: 0 10px;
    margin-bottom: 40px;
    cursor: pointer;
}

.content-card__img {
    height: 140px;
    position: relative;
}

.content__img{
    width: 100%;
    height: 100%;
}

.content__img-star {
    position: absolute;
    right: 11px;
    top: 10px;
}
.content-card__tittle {
    height: 66px;
    width: 100%;
    font-family: 'Actor', sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 22px;
    color: #1C2E36;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
}
.content-card__price {
    font-family: 'Actor', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 21px;
    color: #0084BA;
    margin: 0;
}

.content-map {
    display: block;
    position: sticky;
    width: 50%;
    height: 100vh;
    top: 0;
}

/* responsive */
.header_menu{
    display: none;
    margin-right: 30px;
}

.m-menu{
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.71);
    transition: 0.2s;
    transform: translateX(-100%);
    z-index: 2;
}

.m-menu.opened{
    transform: translateX(0);
}

.m-menu__nav{
    padding-top: 30px;
    padding-left: 20px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 70%;
    list-style: none;
    background: #0098D7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.m-menu__nav-link{
    font-family: 'Actot', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.m-header__icons{
    display: none; 
}

.m-header__link{
    margin-right: 28px;
}

.m-header__link:last-child{
    margin-right: 0;
}

.change-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}

.change__button{
    display: none; 
    width: 45px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #666666;
}

.change__button-filter{
    position: relative;
    width: 56px;
    height: 32px;
    padding-left: 8px;
    text-align: left;
}

.change__button-filter::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 8px;
    top: 13px;
    right: 9px;
    background-image: url('../assets/img/icons/right-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.modal{
    display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.71);
}
.modal-filter{
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 23px;
    margin: 0;
    position: fixed;
    width: 80%;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #1C2E36;
    overflow: auto;
    transition: 1s;
}
.filter-close{
    display: flex;
    justify-content: flex-end;
}

.modal-filter__close{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.modal-filter__close::after{
    content: '';
    width: 8px;
    height: 10px;
    margin-top: 4px;
    margin-left: 4px;
    background-image: url('../assets/img/mobile-icon/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
.filter-column{
    padding: 16px 0;
    border-bottom: 1px solid #ECECEC;
}

.filter-column:nth-child(4){
    border: none;
}

.filter__tittle{
    display: block;
    font-family: 'Actor', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
    left: 0;
    transition: 0.4s;
}


.filter__tittle::after{
    content: '\02796';
    font-size: 14px;
    float: right;
}
.filter__tittle.active::after{
    content: '\02795';
    font-size: 14px;
    float: right;
}

.filter-col-block{
    display: flex;
    flex-direction: column;
}

.filter-col-block.show{
    display: none;
}

.filter__input[type="checkbox"]{
    display: none;
}

.check__box{
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: -22px;
    border: 1px solid #D6E1E4;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 6px;
}

.filter__input:checked + .check__box{
    background-image: url('../assets/img/mobile-icon/cheked.svg');
    background-color: #0098D7;
    background-position: center; 
    background-repeat: no-repeat;
}

.filter-col-block label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    padding-left: 22px;
}

.filter__btn{
    display: flex;
    justify-content: flex-start;
    margin: 17px 0;
}

.filter__button{
    width: 120px;
    height: 48px;
    border: 1px solid #0084BA;
    border-radius: 3px;
    font-family: 'Actor', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0084BA;
    background: #FFFFFF;
    margin-right: 9px;
}

.filter__button-go{
    color: #FFFFFF;
    background: #0084BA;
    border: none;
    margin-right: 0;
}